{% extends 'base.html' %}
{% block content %}
<h1>KIMAWASCO ICT DEPARTMENT</h1>
<h2>ASSETS INVENTORY</h2>
<form method="get" action="{% url 'inventory:asset_list' %}">
  <div class="input-group mb-3">
      <input type="text" class="form-control search-input" placeholder="Search assets..." name="search_query" value="{{ search_query }}">
      <div class="input-group-append">
          <button class="btn btn-outline-secondary search-button" type="submit">Search</button>
      </div>
  </div>
</form>

<a href="{% url 'inventory:asset_create' %}" class="btn btn-primary mb-3">Add Asset</a>

<table class="table table-bordered table-hover">
  <thead>
      <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Model</th>
          <th>Department</th>
          <th>Owner</th>
          <th>Last Maintenance</th>
          <th>Status</th>
          <th>specifications</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    {% for asset in assets %}
    <tr>
        <td>{{ asset.asset_type }}</td>
        <td>{{ asset.name }}</td>
        <td>{{ asset.model }}</td>
        <td>{{ asset.department }}</td>
        <td>{{ asset.owner }}</td>
        <td>{{ asset.last_maintenance }}</td>
        <td>{{ asset.status }}</td>
        <td>{{asset.specifications}}</td>
        <td>
          <div class="dropdown">
              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'inventory:asset_update' asset.pk %}">Edit</a>
                  <a class="dropdown-item text-danger" href="{% url 'inventory:asset_delete' asset.pk %}">Delete</a>
              </div>
          </div>
      </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="text-center">No assets found.</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}