/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
/* Navbar Styles */
.navbar {
    background-color: #333;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

/* Container Styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th,
.table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
/* Form Styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Link Styles */
a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
/* Search Bar Styles */
.search-input {
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
}

.search-button {
    border-radius: 0 4px 4px 0;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #555;
}

.footer {
    text-align: center;
    margin: auto;
}
/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #f5eaea;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: hsl(216, 14%, 93%);
  }
  
  .dropdown-item.text-danger:hover, .dropdown-item.text-danger:focus {
    color: #dc3545;
  }

